In [3]:
import pandas as pd

In [4]:
sample_list = [
    {'Black And Yellow'},
    {"What's My Name?"},
    {'Homegrown Honey'},
    {'Goldie'},
    {'Love Sosa'},
    {'Ultralight Beam'},
    {'All I Do Is Win'},
    {'Weekend (feat. Miguel)'},
    {'Everyday We Lit (feat. PnB Rock)'},
    {'Grenade'},
    {'Sweet Emotion'},
    {'Pony'},
    {'Sweet Emotion', 'Pony'}
]

In [17]:
data_as_lists = [
    {
        'frequent_item_sets': list(item) 
    }
    
    for item in sample_list
]

In [ ]:
mined_df = pd.DataFrame(data_as_lists)

mined_df

                    frequent_item_sets
0                   [Black And Yellow]
1                    [What's My Name?]
2                    [Homegrown Honey]
3                             [Goldie]
4                          [Love Sosa]
5                    [Ultralight Beam]
6                    [All I Do Is Win]
7             [Weekend (feat. Miguel)]
8   [Everyday We Lit (feat. PnB Rock)]
9                            [Grenade]
10                     [Sweet Emotion]
11                              [Pony]
12               [Pony, Sweet Emotion]

In [31]:
samples_rules = [
    [{'Crash And Burn'}, {"Night's On Fire"}, 0.40271493212669685],
    [{"Night's On Fire"}, {'Crash And Burn'}, 0.7606837606837606],
    [{'Lose My Mind'}, {'Crash And Burn'}, 0.8225806451612904],
    [{'Crash And Burn'}, {'Lose My Mind'}, 0.46153846153846156],
    [{'I Love This Life'}, {'Crash And Burn'}, 0.743801652892562],
    [{'Crash And Burn'}, {'I Love This Life'}, 0.4072398190045249],
    [{'Body Like A Back Road'}, {'Craving You'}, 0.36633663366336633],
    [{'Craving You'}, {'Body Like A Back Road'}, 0.8604651162790697],
    [{'HUMBLE.'}, {'ELEMENT.'}, 0.25675675675675674]
]

In [32]:
rules = [
    {
        'antecedent': list(antecedent),
        'consequent': list(consequent),
        'confidence': confidence
    }

    for antecedent, consequent, confidence in samples_rules
]

In [33]:
pd.DataFrame(rules)

                antecedent               consequent  confidence
0         [Crash And Burn]        [Night's On Fire]    0.402715
1        [Night's On Fire]         [Crash And Burn]    0.760684
2           [Lose My Mind]         [Crash And Burn]    0.822581
3         [Crash And Burn]           [Lose My Mind]    0.461538
4       [I Love This Life]         [Crash And Burn]    0.743802
5         [Crash And Burn]       [I Love This Life]    0.407240
6  [Body Like A Back Road]            [Craving You]    0.366337
7            [Craving You]  [Body Like A Back Road]    0.860465
8                [HUMBLE.]               [ELEMENT.]    0.256757